@use "../../assets/scss/variables" as *;



.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background-color: $background-color;
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
}

.header-image {
  margin-bottom: 11px;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

.header-signin {
  opacity: 0;
  &--active {
    opacity: 1;
  }
  &-login {
    display: flex;
    justify-content: end;
    padding: 16px 15px;
    border-top: 1px solid #2063aa;
    &__button {
      font-weight: 300;
      font-size: 18px;
      line-height: 23.4px;
      letter-spacing: 0px;
      color: white;
    }
  }

  &-about {
    display: flex;
    justify-content: end;
    padding: 16px 15px;
    border-top: 1px solid #2063aa;
    &__button {
      font-weight: 300;
      font-size: 18px;
      line-height: 23.4px;
      letter-spacing: 0px;
      color: white;
    }
  }
}
